{% extends "debug/base.html" %}

{% block content %}
<h3>Block #{{ blk_num }}</h3>
<p><b>Hash:</b> {{ blk_hash }}</p>
<p><b>Time:</b> {{ blk_time }}</p>
<h4>Transactions ({{ txs|length }})</h4>
<table>
    <tr><th>Tx Hash</th><th>Data</th></tr>
    {% for tx in txs %}
    <tr>
        <td>{{ tx.hash }}</td>
        <td><pre>{{ tx.data }}</pre></td>
    </tr>
    {% end %}
</table>
<h4>Events ({{ evts|length }})</h4>
<table>
    <tr><th>Event</th><th>Args</th></tr>
    {% for evt in evts %}
    <tr>
        <td>{{ evt.event }}</td>
        <td><pre>{{ evt.args }}</pre></td>
    </tr>
    {% end %}
</table>
{% endblock %}
