{% extends "debug/base.html" %}

{% block content %}
<div class="stats">
    <h3>Statistics</h3>
    <p><b>Latest Block:</b> {{ latest_block }}</p>
    <p><b>Total Blocks:</b> {{ total_blocks }}</p>
    <p><b>Total Transactions:</b> {{ total_txs }}</p>
    <p><b>Total Events:</b> {{ total_events }}</p>
    <p><b>Total State Entries:</b> {{ total_state_entries }}</p>
</div>
<h3>Quick Links</h3>
<ul>
    <li><a href="/debug/blocks">Blocks List</a></li>
    <li><a href="/debug/events">Events Browser</a></li>
    <li><a href="/debug/state">State Browser</a></li>
    <li><a href="/debug/transactions">Transactions List</a></li>
</ul>
{% endblock %}
